button {
    background-color: green;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color:rgb(25, 89, 25);
    cursor: pointer;
}

h1 {
    background-color: antiquewhite;
    color: aqua;
    padding:50px;
    margin-left: 30px;
    border-style: dashed;
    border-color: blueviolet;
}

.caixa {
    padding: 30px;
    width: 300px;
    border-color: black;
    border: 2px;
    border-style: solid;

}